ansi2html==1.8.0
Brotli==1.1.0
cffi==1.17.1
cssselect2==0.7.0
dataclass-wizard==0.22.2
fonttools==4.54.1
html5lib==1.1
libtmux==0.23.2
pillow==11.0.0
presenterm-export==0.2.5
pycparser==2.22
pydyf==0.11.0
pyphen==0.17.0
six==1.16.0
tinycss2==1.4.0
weasyprint==62.3
webencodings==0.5.1
zopfli==0.2.3.post1
